<!doctype html>
<html lang="zh-cn">

<head>
    {% block meta %} {% include "./meta.html" %} {% endblock %} 
    <title>{{title}}</title>
    {% block flex %} {% include "./flexible.html" %} {% endblock %}
    {% block style %} 
        {% if (env != 'dev' and clazz != null and clazz != '') %}
        <link rel="stylesheet" href="{{clazz}}" />
        {% endif %}
    {% endblock %}
    {% block head %} {% endblock %}
</head>

{% block content %} {% endblock %}
{% block script %} 
    {% if (vendor != null and vendor != '') %}
    <script src="{{vendor}}"></script>
    {% endif %}
    {% if (slug != null and slug !='') %}
    <script src="{{slug}}"></script>
    {% endif %}
{% endblock %}
</html>
